body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive;
    background: linear-gradient(135deg, #ffd6e8, #ffeef5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 360px;
    height: 360px;
    background: white;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    padding: 20px;
    text-align: center;
    position: relative;
}

.page {
    display: none;
    text-align: center;
    font-weight: bold;
}

.page.active {
    display: block;
}

.page img {
    width: 150px;
    top: 0;
    height: 190px;
    border-radius: 50px;
    object-fit: cover;
}

video {
    width: 100%;
    height: 250px;
    border-radius: 50px;
}

h1 {
    color: #ff4da6;
}

.final-text {
    font-size: 34px;
}

.buttons {
    position: absolute;
    bottom: 15px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background: #ff69b4;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #ff1493;
}

/* Floating Hearts */
/* Floating Hearts */
#hearts-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 9999;
}

.heart {
    position: absolute;
    bottom: -30px;
    animation: floatUp 5s linear forwards;
}

@keyframes floatUp {
    0% {
        transform: translateY(0vh);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

/* Confetti */
.confetti {
    position: absolute;
    width: 8px;
    height: 8px;
    animation: fall 3s linear forwards;
}

@keyframes fall {
    0% {transform: translateY(-10vh) rotate(0deg);}
    100% {transform: translateY(100vh) rotate(720deg);}
}
